
<div class="card" style="width: 50%; text-align: center;margin-left: auto;
margin-right: auto;" *ngIf="alumno">
  <img class="card-img-top img-responsive" src="assets/images/big/img2.jpg" alt="Card image cap" height="300px">

  <div class="card-body" style="background-color: rgb(214, 214, 213);">
      <h4 class="card-title">{{alumno.id}}</h4>
      <input type="text" [(ngModel)]="nombreUpdate"/><br>
      <select [(ngModel)]="cursoSeleccionado" style="margin-top: 20px; width: 25%;" *ngIf="cursos">
        <option *ngFor="let curso of cursos" [value]="curso.id">
          {{curso.nombre}}
        </option>
      </select>
    </div>
    <div class="card-body" style="background-color: rgb(214, 214, 213);">
      <button class="btn btn-primary" (click)="editAlumno()">Actualizar</button>
      <button class="btn btn-danger"(click)="deleteAlumno()">Eliminar</button>
    </div>
</div>
